{% extends "base.html" %}
{% block content %}

<section class="container">
    <p>Możliwe odpowiedzi: </p>

    <form method="POST" action="{% url 'polls:vote' question.id %}">
        {% csrf_token %}
        <ul>
            {% for choice in question.choice_set.all %}
            <li>
                <label>
                    <input type="radio" name="choice" value="{{ choice.id }}" required> {{ choice.choice_text }}
                </label>
            </li>
            {% endfor %}
        </ul>
        <input type="submit" value="Głosuj">
    </form>
</section>

{% endblock %}